/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Square+Peg&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* components */
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'Square Peg', cursive;
}

h1 {
  font-size: 50px;
}

h2, h3, p {
  font-size: 30px;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  width: 800px;
  margin: 0 auto;
}

.container h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px 0;
}

.container a {
  margin-top: 30px;
  display: inline-block;
}
